@use '@/styles/mixins';
@use '@/styles/variables';

.contacts {
  @include mixins.dashboard-section('small');

  > div:last-child {
    button {
      margin-bottom: 1rem;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
