@use '@/styles/variables';
@use '@/styles/mixins';
@use 'sass:color';

.transaction-item {
  @include mixins.transition(background-color);
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  font-size: 20px;
  padding: 1.5rem 0;
  border-bottom: 1px solid rgba(variables.$text-gray, 20%);
  cursor: default;
  border-radius: variables.$radius;
  animation: slideIn 0.7s;

  &:hover {
    background-color: rgba(variables.$text-gray, 7%);

    > div:nth-child(1) > div {
      opacity: 1;
    }
  }

  &:last-child {
    border-bottom: none;
  }

  &.income {
    > div:nth-child(1) {
      > div {
        background-color: variables.$secondary;

        > svg > path {
          &:first-child {
            display: block;
          }
          &:last-child {
            display: none;
          }
        }
      }
    }
  }

  div {
    @include mixins.flex-horizontal-center;

    &:nth-child(1) {
      margin-left: 1rem;
      > div {
        @include mixins.transition(opacity);
        background-color: variables.$primary;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        display: flex;
        margin-right: 1rem;
        opacity: 0.9;

        > svg {
          margin: auto;
          color: variables.$bg-block;
          width: 32px;
          height: 32px;

          > path:first-child {
            display: none;
          }
        }
      }
    }

    &:nth-child(2) {
      > div {
        @include mixins.flex-horizontal-center;
        background-color: variables.$gray;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 1rem;
        justify-content: center;

        > svg {
          color: variables.$text-gray;
          width: 25px;
          height: 25px;
        }
      }

      > span {
        color: color.scale(variables.$text-gray, $lightness: 8%);
        font-size: 18px;
      }
    }
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  70% {
    transform: translateX(20px);
  }

  90% {
    opacity: 1;
  }

  to {
    transform: translateX(0);
  }
}
