@use "@/styles/variables";
@use "@/styles/mixins";
@use "sass:color";

.logout {
  > button {
    @include mixins.transition(color);
    background-color: variables.$bg-block;
    border: none;
    border-radius: 50%;
    color: color.scale(variables.$text-gray, $lightness: 15%);
    width: 40px;
    height: 40px;
    padding: 2px;

    &:hover {
      color: variables.$white;
    }

    > svg {
      width: 22px;
      height: 22px;
    }
  }
}